div {
    text-align: center;
    Font-size: 100px;
    color: orange;
    border: 5px solid Orangered;
    background-color: yellow;
}
div id=Ing {

    
}


h1 { 
    color: orange;
    font-size: 50px
}